* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-stack);
    background-color: var(--background-color);
    color: var(--text-primary);
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    height: 100vh;
    overflow: hidden;
    /* App-like feel */
    display: flex;
}