@import 'modules/variables.css';
@import 'modules/base.css';
@import 'modules/layout.css';
@import 'modules/components/buttons.css';
@import 'modules/components/cards.css';
@import 'modules/components/badges.css';
@import 'modules/components/user.css';
@import 'modules/components/inputs.css';
@import 'modules/components/modals.css';
@import 'modules/components/toggles.css';
@import 'modules/components/tables.css';
@import 'modules/chat.css';
@import 'modules/animations.css';